{% extends "main.twig" %}

{% block head %}
<script src="https://services.cognitoforms.com/s/SkK_LHLpKUmLPQLt_eXuZQ"></script>
{% endblock head %}

{% block jumbotron %}
  <div class="jumbotron">
    <h1 class="jumboHeader">NeuroFit</h1>
  </div>
{% endblock jumbotron %}

{% block content %}
  <div class="homeMain">
    <h1>What's New At Neuro<span class="logoColor">Fit</span>?</h1>
    <h3>Open House</h3>
    <p>NeuroFit will host an open house Saturday, March 12th at 10am. Come by and check out our facilities and how much fun we're having! Swirl It Up will have a table set up and will be providing smoothie samples for all who attend.</p>
    <h3>Zumba Gold</h3>
    <p>New Zumba Gold group classes start on February 13th. Space is limited so make sure to sign up soon to ensure you get a spot!</p>
  </div>
  <ul class="mainContent">
    <li class="callout">
      <h2>Want To Volunteer?</h2>
      <p>We are looking for a new intern for the summer who would help NeuroFit in a number of capacities. If you are interested in learning more about the opportunity, please <a href="mailto:#">email Steve Hamels</a>.</p>
    </li>
    <li class="callout">
      <h2>Thank You!</h2>
      <p>We&#39;d like to thank all who came out and made last month&#39;s <a href="#">Walk For All</a> fundraiser a great success!</p>
    </li>
  </ul>
  <div class="jumbotron minitron">
    <h1 class="jumboHeader">Why Us?</h1>
    <p class="minitronHeader">We believe that NeuroFit can meet the need for easing the transition from physical therapy to independent exercise for a healthy lifestyle. Each client will be evaluated by a licensed physical therapist prior to the initiation of an exercise program with one of our personal trainers who have been certified to work with special populations.</p>
    <p class="minitronHeader">Our clients will then work with a personal trainer each time they come to our facility, receiving the one-on-one specialized attention they need to meet their fitness goals safely. NeuroFit also offers group fitness classes adapted to the unique needs of the neurologic population and with the enhanced supervision that is necessary to increase the safety of our clients.</p>
  </div>
  <ul class="homeContent">
    <li class="callout">
      <h2>Membership</h2>
      <p>Anyone interesting in joining NeuroFit must bring in a fully filled out and signed Registration Form as well as a PARQ. You can find both of these on the <a href="http://neurofit.website/resources">Resources</a> page.</p>
      <p>Our fees are as follows:</p>
      <br/>
        <p>$50 per session</p>
        <br/>
        <p>$15 per group training class</p>
    </li>
    <li class="callout">
      <h2>Spotlight</h2>
      <img src="{{ baseURL }}img/dorothy.jpg" alt="Dorothy"/>
      <p>This month, we would like to focus our Spotlight on Dorothy O&#39;Connor. Dorothy is 87 years young and has been a member of NeuroFit for 1 year now! She attends the group fitness class SilverSneakers Cardio Circuit weekly. &#34;I love how great I feel!&#34; Dorothy said when we asked her what she loves most about SilverSneakers.</p>
      <br/>
      <p>Dorothy is the mother of 4 children and 13 grandchildren and 3 great-grandchildren. She loves keeping an active lifestyle outside of NeuroFit by gardening, swimming, and going on walks in the evenings. Dorothy was a high school English teacher for 30 years here in town.</p>
    </li>
    <li class="callout">
      <h2>What We Offer</h2>
      <p>Peace of mind by providing screening by a licensed Physical Therapist. As well as supervision and one on one fitness instruction tailored to your needs.</p>
      <br/>
      <p>We offer group fitness classes that allow you to stay healthy, make friends, and have fun. We believe you should be able to live a healthy life, no matter what.</p>
  </li>
  </ul>
{% endblock content %}
