{% extends "main.twig" %}

{% block content %}
<h2 class="page-title">Page Currently Under Construction</h2>
<p>We'll be finished soon!</p>
<a href="{{ siteUrl('/home')}}" class="construction"><li>Click Here to Return Home</li></a>
{% endblock content %}
