{% extends "main.twig" %}

{% block title %}Resources{% endblock title %}

{% block jumbotron %}
   <div class="jumbotronResources">
    <h1 class="jumboHeader">Resources</h1>
  </div>
{% endblock jumbotron %}

{% block content %}
  <div class="content">
    <h1>Patient Forms</h1>
    <ul class="formDetails">
      <li class="form"><a href="#"><h5>New Patient Registration Form</h5><img src="{{ baseUrl }}img/Patient-Registration.jpg" alt="New Patient Registration Form"/></a></li>
      <li class="form alternatingRows"><a href="#"><h5>Patient Form 2</h5><img src="{{ baseUrl }}img/Patient-Registration.jpg" alt="Patient Form 2"/></a></li>
      <li class="form"><a href="#"><h5>Patient Form 3</h5><img src="{{ baseUrl }}img/Patient-Registration.jpg" alt="Patient Form 3"/></a></li>
      <li class="form alternatingRows"><a href="#"><h5>Patient Satisfaction Survey</h5><img src="{{ baseUrl }}img/Patient-Registration.jpg" alt="Patient Satisfaction Survey"/></a></li>
    </ul>
  </div>
{% endblock content %}
