{% extends "main.twig" %}

{% block title %}Services{% endblock title %}

{% block content %}
  <div class="services">
    <h1>Services Neuro<span class="logoColor">Fit</span> Offers</h1>
    <div class="pageContent">
      <div class="servicesContent">
        <h3>Who We Serve</h3>
          <ul>
            <li>Stroke</li>
            <li>Spinal cord injury</li>
            <li>Brain injury</li>
            <li>Multiple sclerosis</li>
            <li>Parkinson’s disease</li>
            <li>Cerebral palsy</li>
            <li>Balance difficulties</li>
            <li>Others requiring supervised exercise</li>
          </ul>
      </div>
    </div>
    <div class="pageContent">
      <div class="servicesContent">
        <h3>What We Offer</h3>
          <ul>
            <li>Screening by a licensed Physical Therapist upon joining</li>
            <li>One-on-one personal training sessions with a certified Special Population Specialist</li>
            <li>Affordable prices</li>
            <li>Handicap accessible facility</li>
            <li>State of the art fitness equipment</li>
          </ul>
      </div>
    </div>
    <div class="pageContent">
      <div class="servicesContent">
        <h3>Group Fitness Classes Offered</h3>
          <ul>
            <li>Lymphedema</li>
            <li>Zumba Gold</li>
            <li>SilverSneakers Cardio Circuit</li>
            <li>SilverSneakers Yoga Stretch</li>
            <li>Tai Chi</li>
            <li>Seated Strength</li>
          </ul>
      </div>
    </div>
  </div>
{% endblock content %}
