{% extends "main.twig" %}

{% block title %}Services{% endblock title %}

{% block content %}
  <div class="services">
    <h1>Services Neuro<span class="logoColor">Fit</span> Offers</h1>
    <div class="pageContent">
      <div class="servicesContent">
        <h3>Service Type 1</h3>
          <ul>
            <li>Acute and Chronic Pain</li>
            <li>Aquatic Therapy</li>
            <li>Back and Neck Pain</li>
            <li>Concussion Management</li>
          </ul>
      </div>
    </div>
    <div class="pageContent">
      <div class="servicesContent">
        <h3>Service Type 2</h3>
          <ul>
            <li>Foot and Ankle Pain</li>
            <li>General Orthopedics</li>
            <li>Graston Technique</li>
            <li>Injury Screenings</li>
            <li>Kinesio Taping</li>
            <li>Leg and Knee Pain</li>
          </ul>
      </div>
    </div>
    <div class="pageContent">
      <div class="servicesContent">
        <h3>Service Type 3</h3>
          <ul>
            <li>Lymphedema</li>
            <li>Manual Therapy</li>
            <li>Pre and Post-Operative Care</li>
            <li>Shoulder Pain</li>
            <li>Spine Rehab</li>
            <li>Sports Injuries</li>
            <li>Total Joint Rehab</li>
            <li>Vestibular Therapy</li>
            <li>Wellness Programs</li>
            <li>Work Injury Rehabilitation </li>
          </ul>
      </div>
    </div>
  </div>
{% endblock content %}
